body{
    background-image: url('https://wallpaperaccess.com/full/187170.jpg');
    background-size: cover;
    background-repeat: no-repeat ;
}

input{
    border-radius: 4px;
    font-size: 17px;
    height: 30px;
    width: 200px;
    
}

button{
    font-size: 17px;
    border-radius: 6px;
    width: 70px;
    height: 30px;
}


.text{
    text-decoration: none;
}

p{
    font-size: 30px;  
    color: aliceblue; 
}

.ho{
    margin-top: 13%;
}