.box{
    background-image: url('https://wallpaperaccess.com/full/187161.jpg');
    width: 600px;
    border: 2px  red;
    padding: 46px;
    margin-top: 6%;
    height: 290px;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-size: cover;
}